:root {
  --blue: #4EA5D9;
  --black: #282828;
  --violet: #413C58;
  --green: #BFD7B5;
  --banana: #F2DDA4;
}

html {
  box-sizing: border-box;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 900;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 0;
  background-attachment: fixed;
  letter-spacing: -1px;
  /* font-family:sans-serif; */
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0;
}

h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
  font-weight: normal;
}

p {
  font-size: 1.2rem;
  font-weight: normal;
}

/* img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
} */

a {
  font-size: 1.2rem;
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  color:var(--blue);
  font-style: normal
}

a:hover {
  opacity: .75;
}

header {
  padding: 2rem;
  background-color: var(--blue);
}

header :is(h1,h2,h3,h4,h5,h6,p,a){
  color: white;
}

.container{
  max-width: 700px;
  margin:0 auto;
}

.row {
  display: grid;
  justify-items: center;
}

.item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  /*  font-size: 35px;*/
  background-color: var(--blue);
  color: white;
}

.item p {
  margin: 0 0 5px 0;
}
